streamlit
openai==0.28
requests
openpyxl
fpdf
PyMuPDF
scholarly
selenium
urllib3
xlsxwriter
transformers
webdriver-manager
pandas
feedparser
pdfplumber
faiss-cpu
PyPDF2
chromadb==0.3.21
tiktoken>=0.4.0
langchain==0.0.249
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
streamlit-feedback
pytesseract
Pillow
loguru
pydantic>=1,<2
litellm
faiss-cpu
easyocr
numpy
torch
langchain-community>=0.0.10
haystack
logging
python-dotenv>=1.0
pdf2image
img2table
opencv-python
google_trans_new==1.1.9
Pillow
