streamlit
openai==0.28.0
requests
openpyxl
fpdf
PyMuPDF
scholarly
selenium
urllib3
xlsxwriter
pandas
transformers
webdriver-manager
pandas
feedparser
pdfplumber
faiss-cpu
langchain
pypdf
litellm
paper-qa>=5
habanero
semanticscholar
litellm
pydantic
